/* General Reset */
* {
    margin: 0; /* Elimina el margen predeterminado de todos los elementos */
    padding: 0; /* Elimina el padding predeterminado de todos los elementos */
  }
  
  html {
    scroll-behavior: smooth; /* Hace que el desplazamiento de la página sea suave */
  }
  
  body {
    font-family: 'Open Sans', sans-serif; /* Establece la fuente predeterminada del cuerpo del documento */
    line-height: 1.6; /* Establece la altura de línea para mejorar la legibilidad */
  }
  
  header { 
    position: fixed; /* Fija el encabezado en la parte superior de la página */
    top: 0; /* Posiciona el encabezado en la parte superior */
    left: 0; /* Posiciona el encabezado en el lado izquierdo */
    z-index: 5; /* Asegura que el encabezado esté por encima de otros elementos */
    width: 100%; /* Hace que el encabezado ocupe todo el ancho de la página */
    display: flex; /* Utiliza flexbox para el diseño del encabezado */
    justify-content: center; /* Centra el contenido horizontalmente */
    background: white; /* Establece el fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera debajo del encabezado */
  }
  
  .navbar {
    height: 115px; /* Establece la altura de la barra de navegación */
    background-color: white; /* Establece el fondo blanco */
    display: flex; /* Utiliza flexbox para el diseño de la barra de navegación */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    padding: 0 20px; /* Añade un espaciado interno de 20 píxeles a los lados */
    position: relative; /* Necesario para el menú móvil */
  }
  
  .logo {
    margin-left: 0; /* Elimina el margen izquierdo */
    padding-right: 500px; /* Añade un padding derecho de 500 píxeles */
  }
  
  .logo-image {
    height: 110px; /* Establece la altura de la imagen del logo */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
    display: block; /* Hace que la imagen sea un bloque */
    margin: 0; /* Elimina el margen */
  }
  
  .all-links {
    list-style: none; /* Elimina los estilos de lista */
    display: flex; /* Utiliza flexbox para el diseño de los enlaces */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    text-decoration: none; /* Elimina la decoración del texto */
    gap: 50px; /* Añade un espacio de 50 píxeles entre los elementos */
  }
  
  .all-links li a {
    font-size: 20px; /* Establece el tamaño de la fuente */
    color: rgb(83,175,242); /* Establece el color del texto */
    text-decoration: none; /* Elimina la decoración del texto */
  }
  
  .all-links li a:hover {
    color: #0056b3; /* Cambia el color del texto al pasar el cursor */
  }
  
  /*Underline efecto, código de las lineas y animación*/
  
  /* Base styles for the link */
  .underline-effect {
    position: relative; /* Posiciona el elemento relativamente */
    font-family: 'Roboto', sans-serif; /* Establece la fuente */
    font-size: 16px; /* Establece el tamaño de la fuente */
    color: #003399; /* Establece el color del texto */
    text-decoration: none; /* Elimina la decoración del texto */
  }
  
  /* Create the underline effect */
  .underline-effect::after {
    content: ''; /* Añade contenido vacío */
    position: absolute; /* Posiciona el elemento absolutamente */
    left: 0; /* Posiciona el elemento a la izquierda */
    bottom: -4px; /* Posiciona el elemento 4 píxeles debajo del texto */
    width: 100%; /* Establece el ancho del elemento */
    height: 2px; /* Establece la altura del elemento */
    background-color: #003399; /* Establece el color de fondo */
    transition: width 0.3s ease; /* Añade una transición suave al ancho */
  }
  
  /* Hover effect */
  .underline-effect:hover::after {
    width: 120%; /* Aumenta el ancho al pasar el cursor */
  }
  
  /*Fondo del inicio en la primera parte Background_inicio*/
  
  .hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), url('../images/fondo_servicios.avif');
    background-size: cover;
    background-position: center;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
    margin-top: 115px;
  }
  
  /* Contenido del hero */
  .hero-content {
    margin-bottom: 2rem;
  }

  .hero-content h1 {
    padding: 100px;
    text-align: center;
    margin-top: 100px;
    font-size: 64px;
    line-height: 83px;
    font-weight: 600;
  }

  .hero-content p {

    margin-top: 70px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  
  /* Sección de tarjetas */
  .tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  /* Estilo para las tarjetas */
  .cards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo con opacidad */
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;

  }
  
  .card-content h3 {
    margin-bottom: 15px;
    color: white;
    line-height: 23px;
    font-weight: 700;
  }
  
  .card-content p {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 24px;
  }


  .digital {
    background-color: white;
  }


  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    gap: 20px;
    background-color: white;
  }

  .text-container {
    flex: 1;
    max-width: 38%;
  }

  .text-container h1 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: rgb(13, 20, 26);
    margin-bottom: 1rem;
  }

  .text-container p {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(86, 88, 94);
  }

  .image-container {
    flex: 1;
    position: relative;
    max-width: 50%;
  }

  .image-container img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  footer {
    background-color: #333; /* Establece el color de fondo */
    display: flex; /* Utiliza flexbox para el diseño */
    justify-content: space-between; /* Coloca los elementos a los lados */
    align-items: center; /* Alinea los elementos verticalmente */
    max-width: auto; /* Establece el ancho máximo */
    padding: 20px; /* Añade un padding interno */
    gap: 20px; /* Añade un espacio entre los elementos */
  }
  
  .text-footer {
    flex: 1; /* Ocupa el espacio necesario */
    max-width: 58%; /* Establece el ancho máximo */
    color: white/* General Reset */
  }
  
  /* Estilo para los encabezados en el pie de página */
  .text-footer h3 {
    color: rgb(255, 255, 255); /* Establece el color del texto */
    font-size: 26px; /* Establece el tamaño de la fuente */
    line-height: 34px; /* Establece la altura de línea */
    font-weight: 600; /* Establece el peso de la fuente */
  }
  
  /* Estilo para los párrafos en el pie de página */
  .text-footer p {
    color: white; /* Establece el color del texto */
    font-size: 14px; /* Establece el tamaño de la fuente */
    line-height: 18px; /* Establece la altura de línea */
    font-weight: 400; /* Establece el peso de la fuente */
  }
  
  /* Estilo para el texto de contacto en el pie de página */
  .text-contacto {
    color: white; /* Establece el color del texto */
  }